
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js'>
    </script>
    <script type="text/javascript">
    </script>

</head>

<body>
<h1>welcome to email analysis</h1>
<div></div>

<script>
$(document).ready(function() {

<!--$.getJSON("example/json",{},function(data){

$.each(data, function(i,item) {

$("div").append("<div>"+item+"</div>");

});
});
-->

});

</script>

</body>
