<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>inbox.dr | results</title>
<!--<link rel="shortcut icon" href="/media/images/favicon.png" /> -->
<link rel="stylesheet" type="text/css" href="/media/css/style.css" />

<!--GRAPH CODE-->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<link rel="stylesheet" href="/media/jQRangeSlider/css/dev.css">  
<script src="/media/js/jquery.js"></script>
<script src="/media/js/jquery-ui.js"></script>
<script src="/media/jQRangeSlider/jQRangeSlider.js"></script>
<script src="/media/jQRangeSlider/jQDateRangeSlider.js"></script>
<script src="/media/js/base.js"></script>
<script src="/media/js/sparklines.js"></script>

<style>
.email {font-size: 17pt; font-height: 30pt; text-align:right; padding-right:20px; width: 25ex;}
.count {font-size: 12pt; text-align: right;}
td {vertical-align: bottom;}
td.spark {margin-left: 10px; margin-right: 10px;}
.spark label { font-size: 8pt; padding:5px; vertical-align: bottom; color: grey;}
</style>

<script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
	  
	function updateTopSenders(start, end) {
		getTopSendersList("foo", start, end);
	}

      $(document).ready(function() { 
		getTopSendersList("foo");
		makeDateSlider("#dateslider", {bounds:{min:new Date(2004,0,1), max:new Date(2012,0,1)}}, updateTopSenders);
	  	
	});
    </script>
	
<!--END GRAPH CRAP-->

</head>
	
<body>
	<div id="foo"></div>
	<div id="visualization"></div>
	<form action="#"><!--<input name="min" /><input name="max" />-->
		<div id="dateslider" class="dateSlider"></div> 
  	</form>

</body>
</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
