<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/media/css/ui-lightness/jquery-ui-1.8.15.custom.css" type="text/css" media="screen" charset="utf-8" />

<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui.js"></script>
<script type="text/javascript" src="/media/js/base.js"></script>

<script type="text/javascript" charset="utf-8">

        $(document).ready(function() { 
   
        $.getJSON("http://localhost:8000/emailanalysis/contacts/json/", 
        function(data) {
			make_autocomplete("tags", data);
			});
		});

</script>
<title>Facelist</title>
</head>
<body>

<input class="maininput" id="tags" type="text" style="width:500px" />


</body> 

</html>
