@font-face {
    font-family: 'nevisBold';
    src: url('/media/font/nevis-webfont.eot');
    src: url('/media/font/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/font/nevis-webfont.woff') format('woff'),
         url('/media/font/nevis-webfont.ttf') format('truetype'),
         url('/media/font/nevis-webfont.svg#nevisBold') format('svg');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
	}
body {
	width:100%;
	background:url('/media/images/bg.jpg') repeat-x;
	font-family:Verdana;
	font-size:12px;
	}
#main {
	width: 900px;	
	margin-left:auto;
	margin-right:auto;
	background: #efefef;
}
#logo {
	margin-top:25px;
	text-decoration:none;
	margin-bottom: 20px;
	}
#dashboard {
	font-weight:bold;
	color:#555555;
	float:left;
	width:190px;
	height:100%;
	padding-right: 10px;
	border:2px #B5B7B9 solid;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-box-shadow: 5px 5px 1px #B5B7B9;
	box-shadow: 5px 5px 1px #B5B7B9;
}
#results {
	padding:5px;
	margin:0 0 5px 30px;
	float:left;
	width:640px;
	height:100%;
	border:2px #B5B7B9 solid;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-box-shadow: 5px 5px 1px #B5B7B9;
	box-shadow: 5px 5px 1px #B5B7B9;
}
ul {
	margin-left:-20px;
	list-style:none;
}
li {
	padding-bottom:5px;
	}
.category {
	padding-left:15px;
	font-family:nevisBold;
	font-size:24px;
	border-radius:10px 10px 0 0;
	-moz-border-radius:15px;
	color:#FFFFFF;
	background:#28AAE1;
}
.description {
	margin: 10px;
	font-size: 12pt;
}
#overview {
	border-bottom:1px #B5B7B9 solid;
	}
.top_list {
	padding-left:2px;
	padding-top:2px;
	margin-top: 10px;
	color:#000000;
}
#selected {
	border-left:2px #999999 solid;
	color:white;
	background-color:#555555;
}

#dashboard {
	
}







#foo table {width: 100%;}

.email {font-size: 10pt; font-height: 30pt; text-align:right; padding-right:20px; width: 25ex;}
.count {font-size: 10pt; text-align: right;}
td.email, td.spark, td.count {vertical-align: bottom; height: 25px;}
td.spark, td.count {margin-left: 10px; margin-right: 10px; text-align: center;}
.spark label { font-size: 6pt; padding:5px; vertical-align: bottom; color: grey;}
#contacts_list {margin-left: 15px	;}